*{
    margin:0;
    padding:0;
    text-align: order-box;
}

#header{
    background-color:rgb(255, 255, 255);
    padding:20px;
    text-align:center;
}

#main-home{
    text-align:center;
    margin-top:50px;
}

#main-home h1{
    font-size:40px;
    font-weight:bold;
    color:rgb(0, 0, 0);
}

#main-home h2{
    font-size:30px;
    color:rgb(10, 47, 150);
    margin-top:10px;
}
